.set {
    margin: 5rem;
}

.set_inside_text {
    cursor: pointer;
}

.set_container {
    margin: 1rem;
    display: flex;
    gap: 3rem;
}

.set_left {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
    display: flex;
    height: 600px;
    flex-direction: column;
    justify-content: space-between;
}
.set_left_inside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #dcdcdc;
    padding: 1rem;
    width: 200px;
}

.set_left_inside_question {
    cursor: pointer;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2rem;
    border-top: 1px solid #dcdcdc;
}

.timer_session {
    border-bottom: 1px solid #dcdcdc;
    text-align: center;
    width: 100%;
}
.set_right {
    flex: 1;
}

.timer .time {
    font-weight: bolder;
    font-size: 1.3rem;
}

.question {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    height: 600px;
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    justify-content: space-between;
}

.question_question {
    padding: 1rem;
    font-size: 25px;
}

.question_answer {
    position: relative;
    font-size: 1.2rem;
}

.skip {
    position: absolute;
    right: 0;
    top: -60px;
    cursor: pointer;
}

.question_answer > p {
    padding: 1rem;
    border-top: 1px solid #dcdcdc;
}

.all_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    gap: 2rem;
}

.all_button > button {
    font-size: 20px;
    padding: 5px 3rem;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    background-color: #a9a9a9;
    cursor: pointer;
}

.all_button > button:last-child {
    background-color: #29ab87;
}

.question_answer_set:hover {
    background-color: #29ab87;
    cursor: pointer;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.score_inside {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex;
    align-items: center;
    gap: 3rem;
    width: 50%;
}
.score_text {
    padding: 2rem;
    font-size: 1.3rem;
}

.score_score {
    padding: 1rem;
    font-size: 2rem;
}
.goback {
    border: none;
    font-size: 20px;
    padding: 5px 3rem;
    font-weight: bolder;
    color: whitesmoke;
    border: none;
    border-radius: 10px;
    background-color: #29ab87;
    cursor: pointer;
}

@media screen and (max-width: 799px) {
    .set_left {
        display: none;
    }

    .set {
        margin: 10px;
    }
}
